 {{!-- hbs to inject the dynamic values  --}}

<!DOCTYPE html>

<html>

<head>
 <link rel="stylesheet" href="./css/style.css"> 
</head>
<body>
    {{>header}} 
    <p> Arunkumar Sundaram has overall 9 years experience and has specialization in mobile application development using Objective C and Swift. Expertise in translating IT requirements in the design, development, and assembly of components to create custom information systems. Typical examples of the deliverables are functional and technical designs, models, components, code, unit tests, and documentation</p>
    <img src="/img/DSC_4955cot.jpg">

</body>

</html>
